<!DOCTYPE html>
<html ng-app="bytecom">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" href="img/logo.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link href="css/bootstrap.min.css" rel="stylesheet" />

<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<title>Bytecom</title>
<body>
	<div class="container">
		<div ng-controller="formController">
			<form novalidate class="form-signin">
				<h2 class="form-signin-heading">Bem vindo!</h2>
				<div class="form-group has-error">
					<label class="control-label" for="inputError"> <i
						class="fa fa-times-circle-o"></i> {{message}}
					</label> <input id="user" type="text" ng-model="user.login"
						class="form-control danger" placeholder="Login"
						autofocus="autofocus" /> <input jsf:id="senha" type="password"
						ng-model="user.password" class="form-control" placeholder="Senha" />
				</div>
				<button ng-click="login()" class="btn btn-primary btn-block">Entrar</button>

			</form>

		</div>
	</div>

	<script
		src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

</body>
</html>