
<!DOCTYPE html>
<html ng-app="bytecom">
<head>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<title>Bytecom</title>
<body>
	<div class="container">
		<div ng-controller="formController">
			<form novalidate>
				Login:<br> <input type="text" ng-model="user.login"><br>
				Senha:<br> <input type="password" ng-model="user.senha">
				<br> <br>
				<button ng-click="login()">Login</button>
				<button type="reset">Limpar</button>
			</form>
			<p>form = {{user}}</p>
			<p>master = {{master}}</p>

		</div>
	</div>

	<script type="text/javascript" src="js/script.js"></script>
	<script
		src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
	<script>
	    var hash = CryptoJS.SHA256("clairton");
	    console.log("HASG = " + hash);
	</script>

</body>
</html>