<form novalidate id="taskFormId" name="taskForm" ng-submit="(taskForm.$valid && taskCtrl.addTask())">

  <h4>Cadastrar nova tarefa</h4>
  <fieldset class="form-group">
	<select required ng-model="taskCtrl.task.type" class="form-control" ng-options="options for options in ['INSTALAÇÃO', 'MANUTENÇÃO', 'RECOLHIMENTO']" title="Tipo">
	  <option value="">Selecione o tipo</option>
	</select>
  </fieldset>
  <fieldset class="form-group">
	<textarea ng-model="taskCtrl.task.description" class="form-control" placeholder="Descreva aqui o foi feito..." title="Descrição"></textarea>
  </fieldset>
  <fieldset class="form-group">
	<input id="dateId" required ng-model="taskCtrl.task.date" validatedateformat date-date-format="dd/MM/yyyy" name="taskData" type="date" class="form-control" placeholder="dd/MM/yyyy" title="Data de execução" />
  </fieldset>
  <fieldset class="form-group">
	<input type="submit" class="btn btn-primary pull-right" value="Salvar" ng-disabled="taskForm.$invalid" />
  </fieldset>
</form>


<div class="list-group">
  <div class="list-group-item">
	<h3>{{taskCtrl.technical.name}} <em class="pull-right">{{taskCtrl.technical.email}}</em></h3>
	<div class="table-responsive">
		 <table class="table table-hover">
			 <caption>Tarefas</caption>
		  <thead>
			<th>Data</th>
			<th>Descrição</th>
			<th>Tipo</th>
			<th>Status</th>
			<th>Editar</th>
			<th>Remover</th>
		  </thead>
		  <tr ng-repeat="task in taskCtrl.technical.tasks | orderBy:'date'">
			<td>{{task.date | date:'dd/MM/yyyy'}}</td>
			<td>{{task.description}}</td>
			<td>{{task.type}}</td>
			<td>{{task.status}}</td>
			<td>
				<a href="#taskFormId" type="button" class="btn btn-primary" title="editar" ng-click="taskCtrl.editTask(task)">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
			</td>
			<td>
				<button type="button" class="btn btn-danger" title="remover" ng-click="taskCtrl.removeTask(task)" ng-focus="taskForm">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		  </tr>
		</table> 
	</div>
  </div>
</div>
